@model Entities.DTOs.DernekDetailDto
@{
    ViewData["Title"] = "Dernek Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="card-body">
        <div class="form-group row">
            <label asp-for="Ad" class="col-sm-2 col-form-label">Dernek Adı :</label>
            <div class="col-sm-10">
                <input asp-for="Ad" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2">Şehir :</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.SehirId, (List<SelectListItem>)ViewBag.sehirler, "Lütfen bir şehir seçiniz.", new { @class = "form-control etc" })
            </div>
            <label class="col-sm-2">Başkonsolosluk Bölgesi :</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.BkBolgesId, (List<SelectListItem>)ViewBag.bkBolgeler, "Lütfen bir bölge seçiniz.", new { @class = "form-control etc" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2">Kuruluş Kanunu Seçiniz</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.KurulusKanunId, (List<SelectListItem>)ViewBag.kurulusKanuns, "Lütfen bir kanun seçiniz.", new { @class = "form-control etc" })
            </div>
            <label class="col-sm-2">CRCM Üyelik Form Durumu Seçiniz</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.CrcmUyelikFormDurumId, (List<SelectListItem>)ViewBag.crcmKurulusUyelikDurum, "Lütfen bir form durumu seçiniz.", new { @class = "form-control etc" })
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BaslangicTarih" class="col-sm-2">Dernek Kuruluş Tarihi</label>
            <div class="col-sm-10">
                <input asp-for="BaslangicTarih" type="date" class="form-control" />
                <span asp-validation-for="BaslangicTarih" class="text-danger"></span>
            </div>
        </div>
    </div>
}